h5 {
    text-align: center;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: #f1f1f1;
    padding: 15px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: bold;
}

/* Provides better map responsiveness */

#map {
    border: 4px solid #73AD21;
    position: relative;
    padding-bottom: 65%; // This is the aspect ratio
    height: 0;
    margin-top: 15px;
    overflow: hidden;
}
#maps iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 80% !important;
}

/* Keeps sidebars in step with map on in larger views, but doesn't harm smaller mobile views)*/

.row.content {
    height: 700px;
    text-align: center;
}

/* Set gray background color and 100% height */

.sidenav {
    padding-top: 2px;
    height: auto;
    font-size: 10px;
    text-align: left;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* More noticeable search */
.col-sm-2 {
    text-align:center;
}
#filter {
    border: 1px solid lightblue;
    border-radius: 1px;
    margin-top: 2px;
    width: 130px;
    ;
}
ul {
    padding: 0;
}
li {
    margin: 5px 0;
    font-size: 10px;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}



footer {
    background color: #555;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

/* First two @media address Ipad and other views with longer vertical then horitizonal views*/

@media screen and (min-height : 740px) {
    #map {
        position: relative;
        margin-top: 20px;
    }
    .sidenav {font-size: 16px;}
    li {
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
}
@media screen and (min-height : 901px) {
    #map {
        position: relative;
        margin-top: 75px;
        height: 600px;
    }
    #filter {
        text-align: left;
        width: 100px;
    }
    .sidenav {
        padding-top: 50px
        font-size: 16px;
    }
    li {
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
}
/* For long width desktop views */
@media screen and (min-width : 1441px) {
    #map {
        position: relative;
        margin-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 575px;
    }
    .sidenav {
    padding-top: 2px;
    height: 80%;
    margin-bottom: 0px;
    font-size: 18px;}
li {
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
}



/* As screen gets largers shifts to bigger font */

@media screen and (min-width: 767px) {
    h5 {
        font-size: 35px;
    }
    .sidenav {font-size: 16px;}
    li {
    margin: 10px 0;
    font-size: 16px;
}
}

/* Provides transition from small screens to larger for screens where content is no larger stacked. */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        font-size: 10px;
    }
    .row.content {
        height: auto;
    }
    .navbar {
        font-size: 12px;
        ;
    }
    li {
        margin: 0;
        font-size: 14px;
    }
    footer {
        font-size: 10px;
    }
}
