html,

body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #filter {
        margin-left: 40px;
      }
      #sidebar {
        height: 100%;
        width: 25%;
        text-align: left;
        background-color: grey;
        font-family: Arial;
        border: 1px solid black;

}

      #map {
        height: 100%;
        width: 75%;
        position: absolute;
        right: 0;
        border: 3px solid #73AD21;
      }

        #banner{

        top: 10px;
        right: 85%;
        z-index: 5;
        height:5%;
        background-color: #fff;
        padding: 5px;
        border: 2px solid black;
        text-align: center;
        font-family: Arial;
        line-height: 30px;
        }



/*  @media (max-width: 400px) {
}
reminder for responsive requirement */