.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: white;
    padding: 15px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
#map {
    width: auto;
    height: 199px;
    border: 5px solid #73AD21;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}

/* Set gray background color and 100% height */

.sidenav {
    padding-top: 5px;
    background-color: #f1f1f1;
    height: 100%;
    text-align: left;
    margin: 0 0 6px 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
ul {
    padding: 0;
}

}
li {
    margin: 0 0 6px 0;
    font-size: 12px;
    text-align: left;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
    }
    .row.content {
        height: auto;
    }
}
</style>
