@import "compass/css3";

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {

  flex: 1 100%;
}

.header {
  background: white;
  padding: 15px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.main {



}
#map {
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
        border: 3px solid black;
      }

.aside-1 {
  background: lightgray;
  text-align: left;
  border: 2px solid black;
  width: 50%;


}

ul {
    padding: 0;


}

li {margin: 0 0 6px 0;


}
#filter {

       margin-left: 10px;
        font-size: 8px;
        padding: 0px;
        border: 1px solid #ddd;
      }


.aside-2 {
  background: grey;
  width: 50%;
}
.footer {
  background: lightblue;
  width: 48%;
}
@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
  #filter { margin-left: 40px;
  font-size: 14px;}
  ul { margin-left: 40px;}
#map { width: 55%;}


}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
  #filter { margin-left: 40px;
          font-size: 16px;

  }
  ul {margin-left: 40px;
    }
  #map { width: 60%;}
}

body {

}
