html,

body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #sidebar {
        position: absolute;
        top: 10px;
        right: 85%;
        z-index: 5;
        height:90%;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
/*  @media (max-width: 400px) {
}
reminder for responsive requirement */